[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
playwright = "*"
python-dotenv = "*"
dotenv = "*"
easyocr = "*"
torch = "*"
numpy = "*"
pytesseract = "*"
pillow = "*"

[dev-packages]

[requires]
python_version = "3.12"
